::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

.rowstats {
    margin-top:5px;
    font-size: 18px;
    font-family: bold;
}
.rownum_1 {
    color: red;
}
.rownum_2 {
    color: green;
}
p.padding {
    padding_top: 100em;
}

